---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | RiskyMH">
	<div
		class="flex h-dvh w-screen flex-col items-center justify-center bg-[#1a1a1a] text-white"
	>
		<h1 class="text-5xl font-bold">404</h1>
		<p class="text-[#8f8f8f]">Page not found</p>
	</div>
</Layout>
