---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="m-0 box-border flex h-screen w-screen items-center justify-center border-0 border-solid border-gray-200 bg-[#1a1a1a] p-0 text-white"
  >
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-5xl font-bold">404</h1>
      <p class="text-[#8f8f8f]">Page not found</p>
    </div>
  </div>
</Layout>
