---
import Layout from "../layouts/Layout.astro";
import ScrollForProjects from "../components/Scroll.astro";
import Projects from "../components/Projects.astro";
import MainCard from "../components/MainCard.astro";
---

<Layout>
  <div
    id="main"
    class="m-0 box-border h-screen w-screen snap-y snap-mandatory overflow-x-hidden overflow-y-scroll border-0 border-solid border-gray-200 bg-[#1a1a1a] p-0 text-white"
  >
    <div class="h-screen snap-start justify-center">
      <div class="flex h-full items-center justify-center">
        <MainCard />
      </div>

      <ScrollForProjects />
    </div>

    <div id="projects" class="sm:snap-start">
      <div
        class="flex h-screen snap-start items-center justify-center text-center sm:snap-none md:h-auto"
      >
        <div>
          <h2 class="pt-4 text-3xl font-bold leading-9">
            Projects<span class="hidden md:inline">:</span>
          </h2>
          <p class="text-[#A6A6A6]">The things that I have worked on!</p>
        </div>
      </div>

      <Projects />
    </div>
  </div>
</Layout>
