---
interface Props {
	url: string;
	text: string;
	Icon: any;
	newTab?: boolean;
	noMobile?: boolean;
	disabled?: string;
	small?: boolean;
	primary?: boolean;
}

const { url, text, Icon, newTab = false, noMobile = false, disabled = false, small = false, primary = false } = Astro.props;
---
<a
  href={url === "" ? "#" : url}
  target={newTab ? "_blank" : "_self"}
  rel="noopener noreferrer"
  title={disabled || text}
  class={
    ` rounded-lg bg-[#4a4a4a] shadow-sm flex items-center justify-center gap-1 ` +
    (primary
      ? (small ? 'px-3 py-1 text-xs min-w-[3.5rem]' : ' p-1.5 text-sm min-w-[5.25rem]')
      : (small ? 'w-12 h-8 max-w-12' : 'w-full md:w-20 h-9 md:max-w-20')) + ' ' +
    (disabled ? "opacity-25 cursor-default" : "hover:bg-white hover:text-[#1a1a1a]")
  }
>
  <Icon />
  {primary && <span class="ml-1 inline">{text}</span>}
</a>
