@import "tailwindcss";

@layer utilities {
    .h-screen {
        height: 100dvh;
    }
}

@theme inline {
    /* --font-sans: Inter */
    /* --height-screen: 100dvh */

    --color-background: #1a1a1a;
    --color-card: #2a2a2a;
    --color-placeholder: #3a3a3a;
    --color-button: #4C4C4C;
    --color-dropdown: #252525;
    --color-dropdown-hover: #363636;
    --color-button-hover: #6a6a6a;
    --color-focus: #6e6e6e;
    --color-text-muted: #a0a0a0;

    --color-text: #ffffff;
    --color-text-secondary: #A6A6A6;
    --color-text-secondary-2: #8f8f8f;
}

:root {
    --color-background: #121212;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

body {
    color-scheme: dark;
}
